.customer {
  padding-top: 30px;
  padding-bottom: 60px;
}

.customer__card {
  margin-bottom: 30px;
}

.pic {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
}

.customer__headings {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: $color-green;
  margin: 0 auto;
  margin-bottom: 74px;
  width: 260px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    position: absolute;
    top: 26px;
    left: 52px;
  }

  &::before {
    content: '';
    background-color: rgb(83, 91, 100);
    opacity: 0.4;
    width: 60px;
    height: 1px;

  }

  &::after {
    content: '';
    background-color: rgb(83, 91, 100);
    opacity: 0.4;
    width: 60px;
    height: 1px;
  }
}

.pic {
  border-radius: 50%;
  border: 2px solid #c4c7c7;
}

.customer__name {
  font-family: "OpenSans"sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: $color-dark;
}

.customer__position {
  font-family: "OpenSans"sans-serif;
  font-size: 13px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 14px;
  color: #615f61;
  margin-bottom: 20px;
  position: relative;
}

.customer__text {
  font-family: "OpenSans"sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: $color-dark;
  position: relative;
  padding: 0px 28px;

  span {
    display: none;
  }

  &::before {
    display: block;
    content: "";
    background-image: url(../../images/img/customer-section/sign.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .9;
    top: -24px;
    left: -5px;
  }

}

.slider__btn {
  display: flex;
  justify-content: space-between;
  width: 70px;
  height: 12px;
  margin: 0 auto;
}


.slider__btn-point {
  width: 10px;
  height: 10px;
  background-color: #d4d3d4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  transition-property: background-color;

  &:hover {
    background-color: $color-green;
    transition-duration: 600ms;
  }
}

@media (min-width: 768px) {
  .customer {
    padding-bottom: 110px;
  }

  .customer__headings {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 64px;
    width: 590px;
    justify-content: start;

    span {
      margin-left: 6px;
      position: unset;
    }

    &::before {
      margin-right: 30px; 
    }
  
    &::after {
      margin-left: 30px; 
    }
  }

  .customer__position {
    margin-bottom: 50px;
  }

  .customer__text {
    font-size: 18px;
    line-height: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    padding: 0;

    span {
      display: inline;
    }

    &::before {
      top: -20px;
      left: -40px;
    }
  }

  .customer__card {
    margin-bottom: 60px;
  }
}

@media (min-width:1200px) {
  .customer {
    padding-bottom: 126px;
  }

  .customer__position {
    margin-bottom: 110px;
  }

  .customer__text {
    font-size: 18px;
    line-height: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 0px 27px;

    &::before {
      top: -20px;
      left: -16px;
    }
  }
}
