.introduction {
	padding-top: 170px;
	padding-bottom: 106px;
	position: relative;
	&__title {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 25px;
		color: $color-white;
		line-height: 36px;
		padding: 0 15px;
		margin-bottom: 30px;
		span {
			font-family: 'Open Sans';
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			display: block;
			padding-right: 6px;
		}
	}
	&__list {
		padding: 0 15px;
		margin-bottom: 80px;
		&-item {
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 12px;
			color: $color-white;
			line-height: 36px;
			padding-left: 24px;
			position: relative;
			&::before {
				content: '';
				background-image: url('../../images/header/arrow.png');
				background-repeat: no-repeat;
				background-position: center;
				width: 7px;
				height: 12px;
				position: absolute;
				top: 12px;
				left: 0;
			}
		}
	}
	&__btn {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: $color-white;
		border-radius: 5px;
		background-color: rgb(26, 183, 152);
		width: 211px;
		height: 48px;
			padding: 12px 40px 12px 76px;
		position: relative;
		display: block;
		margin-left: 28px;
		&::before {
			content: '';
			background-image: url('../../images/header/icon-download.png');
			background-repeat: no-repeat;
			background-position: left center;
			background-size: cover;
			width: 36px;
			height: 24px;
			position: absolute;
			top: 12px;
			left: 20px;
		}
	}
	&__img {
		display: none;
	}
}

@media (min-width: 768px) { 
	.introduction {
		&__title {
			font-size: 42px;
			span {
				font-size: 22px;
				line-height: 36px;
			}
		}
		&__list-item {
			font-size: 16px;
		}
		&__img {
			display: block;
			position: absolute;
			bottom: -90px;
			right: 32px;
			&-medium {
				width: 232px;
				height: 403px;
				position: absolute;
				bottom: 0;
				right:70px;
			}
			&-large {
				width: 256px;
				height: 444px;
			}
		}
	}
}
@media (min-width:1200px) {
	.introduction {
		&__img {
			bottom: -130px;
			right: 80px;
			&-medium {
				width: 346px;
				height: 600px;
			}
			&-large {
				width: 382px;
				height: 663px;
			}
		}
	}
}