.video {
  background-color: #31d4e7;

  &__headings {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    text-align: center;

  }

  &__description {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: $color-white;
    line-height: 26px;
    text-align: center;
    padding: 0 22px;
  }
}

.video__media {
  width: 285px;
  height: auto;
}
