.video {
  background-color: #31d4e7;
  padding: 60px 0;

  &__headings {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;

  }

  &__description {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: $color-white;
    line-height: 26px;
    text-align: center;
    padding: 0 22px;
    margin-bottom: 24px;
  }

  &__icon-list {
    margin: 0 auto;
    width: 154px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;

    .icon-list-item {
      width: 70px;
      height: 70px;
      background-color: #0098cd;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;


      .video__svg-apple {
        width: 28px;
        height: 32px;
      }

      .video__svg-android {
        width: 30px;
        height: 36px;
      }
    }
  }
}

.video__media {
  width: 285px;
  height: auto;
}
