.video {
  background-color: #31d4e7;
  padding: 60px 0;

  &__headings {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;

  }

  &__description {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: $color-white;
    line-height: 26px;
    text-align: center;
    padding: 0 22px;
    margin-bottom: 24px;
  }

  &__icon-list {
    margin: 0 auto;
    width: 154px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;

    .icon-list-item {
      width: 70px;
      height: 70px;
      background-color: #0098cd;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;


      .video__svg-apple {
        width: 28px;
        height: 32px;
      }

      .video__svg-android {
        width: 30px;
        height: 36px;
      }
    }
  }

  &__media {
    display: block;
    margin: 0 auto;
    width: 285px;
    height: auto;
    border-radius: 10px;
  }
}

@media (min-width:768px) {
  .video {
    padding: 106px 0;

    &__headings {
      font-size: 28px;
    }

    &__description {
      padding: 0 80px;
    }

    &__media {
      width: 500px;
    }
  }
  
}

@media (min-width:1200px) {
  .video {
    padding: 72px 0px 68px 26px;

    &__inside-wrapper {
      width: 540px;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
    }

    &__outside-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__icon-list {
      margin: 0;
      margin-bottom: 0px;
    }

    &__description {
      padding: 0;
      text-align: left;
    }

    &__media {
      width: 500px;
    }
  }
  
}